.form {
	width: 50%;
	margin: auto;
	padding: 5rem 0;

	.title {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
	}

	.description {
		margin-bottom: 5rem;
	}

	.form-group {
		display: flex;
		flex-direction: column;

		flex: 1 1 50%;
		margin: 0 3rem 2rem 0;

		input, textarea {
			padding: 1rem;
			border-radius: 4px;
			border: 1px solid #333333;
		}
	}
}