.form {
	width: 50%;
	margin: auto;
	padding: 5rem 0;

	@media only screen and (max-width: 1100px) {
		width: 65%;
	}

	@media only screen and (max-width: 600px) {
		width: 80%;
	}

	@media only screen and (max-width: 500px) {
		width: 85%;
	}

	@media only screen and (max-width: 400px) {
		width: 90%;
	}

	.title {
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
	}

	.description {
		margin-bottom: 5rem;
	}

	.flex-container {
		display: flex;
		flex-wrap: wrap;
	}

	.form-group {
		display: flex;
		flex-direction: column;

		flex: 0 1 46%;
		margin-bottom: 2rem;

		input, textarea {
			padding: 1rem;
			border-radius: 4px;
			border: 1px solid #333333;
			background: none;
		}

		@media only screen and (max-width: 650px) {
			flex: 0 0 100%;
			width: 100% !important;
			margin-right: 0 !important;
		}
	}

	button {
		&:disabled {
			background-color: #d5d0d0;
			color: #eee;
			cursor: default;
		}
	}
}