<section class="contact-us">
	<form *ngIf="!isQuerySubmitted; else alertMsg;" [formGroup]="theForm" class="form">
		<div class="title">Contact Us</div>
		<p class="description">If you need any additional information or have some query, please use the form below and we will get back to you soon</p>
		
		<div class="flex-container">
			<div class="form-group mr-5">
				<label for="name">Name</label>
				<input type="text" id="name" placeholder="Name" formControlName="name" required>
				<div class="error" *ngIf="theForm.get('name')?.touched && theForm.get('name')?.errors">
					<div *ngIf="theForm.get('name')?.hasError('required')">Name is required</div>
					<div *ngIf="theForm.get('name')?.hasError('minlength')">Name must be minimum 3 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" placeholder="Email" formControlName="email" required>
				<div class="error" *ngIf="theForm.get('email')?.touched && theForm.get('email')?.errors">
					<div *ngIf="theForm.get('email')?.hasError('required')">Email is required</div>
					<div *ngIf="theForm.get('email')?.hasError('email')">Please provide a valid email</div>
					<div *ngIf="theForm.get('email')?.hasError('minlength')">Email must be minimum 10 characters</div>
					<div *ngIf="theForm.get('email')?.hasError('maxlength')">Email must be minimum 255 characters</div>
				</div>
			</div>
		</div>

		<div class="form-group" style="width: 47%;">
			<label for="phone">Mobile Number</label>
			<input type="text" id="phone" placeholder="Mobile Number" 
				formControlName="phone" required (keydown)="numericOnly($event)">
			<div class="error" *ngIf="theForm.get('phone')?.touched && theForm.get('phone')?.errors">
				<div *ngIf="theForm.get('phone')?.hasError('required')">Mobile number is required</div>
				<div *ngIf="theForm.get('phone')?.hasError('minlength') || theForm.get('phone')?.hasError('maxlength')">Mobile number must be 11 digit.</div>
			</div>
		</div>

		<div class="form-group">
			<label for="comments">Comments</label>
			<textarea rows="5" type="text" id="comments" formControlName="comments" required></textarea>
			<div class="error" *ngIf="theForm.get('comments')?.touched && theForm.get('comments')?.errors">
				<div *ngIf="theForm.get('comments')?.hasError('required')">Comments are required</div>
				<div *ngIf="theForm.get('comments')?.hasError('minlength')">comments must be minimum of 10 characters.</div>
				<div *ngIf="theForm.get('comments')?.hasError('maxlength')">comments must be minimum of 1000 characters.</div>
			</div>
		</div>

		<div class="flex justify-end">
			<button class="btn-primary" (click)="onSubmit()" [disabled]="theForm.invalid || disableBtn">Send</button>
		</div>

		<address-info [settings]="settings"></address-info>
	</form>

	<ng-template #alertMsg>
		<div class="query-resp">
			<p class="thangs-msg">Thanks for submitting your query.</p>
			<p class="resp-action">Admin will contact you accordingly.</p>

			<button class="mt-3 btn-primary-outline" routerLink="/">Go back</button>
		</div>
	</ng-template>
</section>