<section class="carousel">
	<div class="welcome-note">
		<div class="text-primary mb-4">Welcome</div>
		<h1 class="heading heading-primary">Best Learning Oppertunities</h1>
		<h3 class="mb-4" style="color: #737373;">Our goal is to make online education work for every one</h3>
		
		<div class="actions">
			<button class="btn-primary mr-3">Join Us</button>
			<button class="btn-primary-outline">Learn More</button>
		</div>
	</div>

	<div class="image-section">
		<img src="/assets/images/carousel-1.jpeg" alt="Placeholder" class="carousel-img">
	</div>
</section>