<footer class="footer">
	<div class="copyright-section">
		<div class="company">
			<img [src]="logo || '/assets/images/logo.jpg'" alt="Logo" class="logo">
			<div class="academy-name">{{ academyName || 'NAC Institute of Engineering and technology' }}</div>
		</div>
	
		<div class="copyright">
			<div>Copyright &copy; <span>{{ currentDate | date:'YYYY' }}</span></div>
			<div>All right reserved</div>
		</div>
	</div>

	<div class="links">
		<nav class="user-nav">
			<a routerLink="/" class="nav-item active">Home</a>
			<a routerLink="/courses" class="nav-item">Courses</a>
			<!-- <a href="/" class="nav-item">Fee</a>
			<a href="/" class="nav-item">Admission</a> -->
			<a routerLink="/contact-us" class="nav-item">Contact</a>
		</nav>

		<!-- <nav class="user-nav mt-5">
			<a href="/" class="nav-item active">About</a>
			<a href="/" class="nav-item">Terms</a>
			<a href="/" class="nav-item">Privacy</a>
		</nav> -->
	</div>

	<!-- <div class="social-links">
		<a href="/">
			<img src="/assets/images/linkedin.jpg" alt="Linkedin" class="link mr-4">
		</a>

		<a href="/">
			<img src="/assets/images/youtube.jpg" alt="Youtube"  class="link mr-4">
		</a>
	</div> -->
</footer>
