.footer {
	background-color: #F0F6FA;
	padding: 8rem 6rem 6rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.company {
		display: flex;
		align-items: center;

		.logo {
			margin-right: .8rem;
			height: 4rem;
		}

		.academy-name {
			font-weight: 700;
			font-size: 1.4rem;
			text-transform: uppercase;
			width: 24rem;
		}
	}

	.copyright {
		margin-top: 2rem;
		font-size: 1.2rem;
	}

	.links {
		text-align: center;

		.nav-item {
			text-decoration: none;
			margin-right: 3.4rem;
			color: #808396;
		}

		@media only screen and (max-width: 900px) {
			display: flex;
			flex-direction: column;

			.user-nav {
				display: flex;
				flex-direction: column;
			}

			.nav-item {
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}
	}

	.social-links {
		display: flex;
		align-items: center;
		justify-content: center;

		.link {
			mix-blend-mode: multiply;
		}

		@media only screen and (max-width: 900px) {
			flex-direction: column;

			.link {
				margin-bottom: 1rem;
				margin-right: 0;
			}
		}
	}
}