<header class="header sticky">
	<div class="company" routerLink="/">
		<img src="/assets/images/logo.jpg" alt="Logo" class="logo">
		<div class="academy-name">{{ academyName || 'NAC Institute of Engineering and technology' }}</div>
	</div>

	<nav class="user-nav">
		<a class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
		<a class="nav-item" routerLink="/courses" routerLinkActive="active">Courses</a>
		<!-- <a href="/" class="nav-item">Fee</a>
		<a href="/" class="nav-item">Admission</a> -->
		<a class="nav-item" routerLink="/contact-us" routerLinkActive="active">Contact</a>
	</nav>

	<div class="user-account">
		<a class="nav-item btn-login">Login</a>
		<button class="btn-primary">Register</button>
	</div>

	<span class="humburger-menu-icon" (click)="toggleMenu()">
		<i class="fas fa-bars"></i>
	</span>

	<nav class="mobile-menu" *ngIf="showMobileMenu" (click)="toggleMenu()">
		<a class="mob-menu-item mt-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
		<a class="mob-menu-item" routerLink="/courses" routerLinkActive="active">Courses</a>
		<a class="mob-menu-item" routerLink="/contact-us" routerLinkActive="active">Contact</a>

		<div class="user-account-mob">
			<a class="btn-login mb-3">Login</a>
			<button class="btn-primary">Register</button>
		</div>
	</nav>

</header> 