<header class="header sticky">
	<div class="company">
		<img src="/assets/images/logo.jpg" alt="Logo" class="logo">
		<div class="academy-name">NAC Institute of Engineering and technology</div>
	</div>

	<nav class="user-nav">
		<a href="/" class="nav-item active">Home</a>
		<a href="/" class="nav-item">Courses</a>
		<a href="/" class="nav-item">Fee</a>
		<a href="/" class="nav-item">Admission</a>
		<a href="/" class="nav-item">Contact</a>
	</nav>

	<div class="user-account">
		<a href="/" class="nav-item active">Login</a>
		<button class="btn-primary">Register</button>
	</div>
</header> 