<section class="courses-section">
	<div class="section-heading" style="margin-bottom: 5rem;">
		Courses
	</div>

	<div class="courses">
		<div class="course-card" *ngFor="let course of courses;">
			<img src="/assets/images/course-logo.png" alt="Course logo" class="course-img">
			<div class="name">{{ course.name }}</div>
		</div>

		<div class="no-course" *ngIf="courses.length === 0">No course available yet.</div>
	</div>

	<button class="btn-primary mt-5" *ngIf="courses.length > 0">More Info</button>
</section>