.map-address {
	display: flex;
	margin-top: 6rem;
	
	.info {
		flex: 0 0 50%;

		.logo {
			width: 7rem;
			height: 7rem;
			mix-blend-mode: multiply;
		}
	
		.contact-info {
			margin-top: 2rem;
			color: 	#616162;
		}
	}

	.map-container {
		height: 380px;
		flex: 0 0 50%;
	}

	.map {
		height: 100%;
	}

	@media only screen and (max-width: 850px) {
		flex-direction: column;
    	height: 45rem;

		.info {
			margin-bottom: 3rem;
			text-align: center;
		}

		.map-container {
			border: 1px solid #e3e3e3;
		}
	}
}