<app-header></app-header>

<main class="main-container">
	<section class="carousel">
		<div class="welcome-note">
			<div class="text-primary mb-4">Welcome</div>
			<h1 class="heading-primary mb-3">Best Learning Oppertunities</h1>
			<h3 class="mb-4" style="color: #737373;">Our goal is to make online education work for every one</h3>
			<div class="actions">
				<button class="btn btn-primary mr-3">Register</button>
				<button class="btn btn-primary-outline">Learn more</button>
			</div>
		</div>

		<img src="/assets/images/carousel-1.jpg" alt="Placeholder" class="carousel-img">
	</section>
</main>

<footer></footer>
