.landing-page {	
	.announcements-section {
		padding: 4.5rem 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		.main-annoucement {
			background-color: var(--color-primary);
			padding: 2.8rem 1.8rem;
			font-size: 1.8rem;
			color: #fff;
			border-radius: 8px;
			letter-spacing: .16rem;
			font-weight: 400;
			margin: 0 2rem 6rem;

			@media only screen and (max-width: 500px) {
				padding: 2rem 1.4rem;
				font-size: 1.6rem;
				letter-spacing: 0.12rem;
			}
		}

		.all-announcements
		{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 3rem;

			.announcement {
				display: flex;
				flex-direction: column;
				margin: 0 3rem 3rem 0;
				text-align: center;

				@media only screen and (max-width: 500px) {
					margin: 0 0 5rem 0;

					&:last-child {
						margin: 0 0 1rem 0;
					}
				}
			}

			.title {
				font-size: 2.4rem;
    			font-weight: 700;
				margin-top: 1rem;
			}

			.description {
				font-size: 1.4rem;
			}
		}
	}

	.principle-message, .introduction {
		padding: 0 6rem;
		margin: 6rem 0;

		@media only screen and (max-width: 500px) {
			padding: 0 2rem;
		}

		.message-section {
			display: flex;
			padding: 6rem 4.5rem 7rem;

			.message {
				font-size: 1.6rem;
				flex: 0 0 50%;
			}

			.img {
				max-width: 100%;
				max-height: 100%;
				margin: auto;
				display: block;
			}
		}

		@media only screen and (max-width: 850px) {
			.message-section {
				padding: 5rem 3rem 6rem !important;

				.message {
					flex: 0 0 35% !important;
					margin-right: 2rem;
				}
			}
		}

		@media only screen and (max-width: 600px) {
			.message-section {
				flex-direction: column;

				.message {
					margin-bottom: 1rem;
					margin-right: 0;
				}
			}
		}

		@media only screen and (max-width: 400px) {
			.message-section {
				padding: 3rem 2rem !important;
			}
		}
	}
}