.main-container {
	background-color: #F0F6FA;
	margin-top: 75px;
	
	.carousel {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.carousel-img {
			mix-blend-mode: darken;
		}

		.welcome-note {
			margin-left: 10rem;
			width: 23%;

			.heading {
				line-height: 1.3;
				margin-bottom: 1.6rem;
			}
		}
	}

	.announcements-section {
		background-color: #eef2f5;
		padding: 4.5rem 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		.main-annoucement {
			background-color: var(--color-primary);
			padding: 2.8rem 1.8rem;
			font-size: 1.8rem;
			color: #fff;
			border-radius: 8px;
			letter-spacing: .16rem;
			font-weight: 400;
			margin-bottom: 6rem;
		}

		.all-announcements
		{
			display: flex;
			margin-bottom: 3rem;

			.announcement {
				display: flex;
				flex-direction: column;
				margin-right: 3rem;
				text-align: center;
			}

			.title {
				font-size: 2.4rem;
    			font-weight: 700;
				margin-top: 1rem;
			}

			.description {
				font-size: 1.4rem;
			}
		}
	}
}