<div class="landing-page">
	<app-carousel></app-carousel>
	
	<section class="announcements-section" *ngIf="announcements.length > 0 || mainAnnouncement">
		<div class="main-annoucement mb-4" *ngIf="mainAnnouncement">
			{{ this.mainAnnouncement.description }}
		</div>
	
		<div class="all-announcements">
			<div class="announcement" *ngFor="let annoucement of announcements">
				<img [src]="annoucement.image" alt="annoucement" class="image">
				<div class="title">{{ annoucement.title }}</div>
				<div class="description">{{ annoucement.description }}</div>
			</div>
		</div>
	
		<button class="btn-primary">More Info</button>
	</section>
	
	<section class="principle-message">
		<div class="card">
			<div class="section-heading" style="margin-top: 2.8rem;">Principle Message</div>
	
			<div class="message-section">
				<div class="message">
					{{ settings?.principleMessage }}
				</div>
	
				<div style="flex: 1;">
					<img src="/assets/images/principle.jpg" alt="Principle" class="img">
				</div>
			</div>
		</div>
	</section>
	
	<section class="introduction">
		<div class="card">
			<div class="section-heading" style="margin-top: 2.8rem;">Introduction</div>
	
			<div class="message-section">
				<div class="message">
					{{ settings?.introduction }}
				</div>
	
				<div style="flex: 1;">
					<img src="/assets/images/intro.jpg" alt="Intro" class="img">
				</div>
			</div>
		</div>
	</section>
	
	<courses-list [courses]="courses"></courses-list>
	
	<address-info [settings]="settings" [styles]="mapAddressStyles"></address-info>
</div>