.container {
	.overview {
		padding: 6rem;

		@media only screen and (max-width: 500px) {
			padding: 6rem 2rem;
		}

		.message-section {
			display: flex;
			padding: 6rem 4.5rem 7rem;

			@media only screen and (max-width: 500px) {
				padding: 5rem 2.5rem;
			}

			.message {
				font-size: 1.6rem;
				flex: 0 0 50%;
			}

			.img {
				max-width: 100%;
				max-height: 100%;
				margin: auto;
				display: block;
			}
		}
	}

	.certificate {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.short-courses {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		margin-bottom: 5rem;

		@media only screen and (max-width: 500px) {
			flex-direction: column;

			.course-card {
				margin-right: 0;
			}
		}
	}
}