.courses-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3rem;

	.courses {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.course-card {
			cursor: pointer;
		}

		@media only screen and (max-width: 600px) {
			flex-direction: column;

			.course-card {
				margin: 0 0 3rem;

				&:last-child {
					margin: 0;
				}
			}
		}

		.no-course {
			font-size: 2rem;
			font-weight: 700;
			margin-top: -3rem;
		}
	}
}