* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #96BB7C;
	--color-black: #030F4B;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: var(--color-black);
}

.btn-primary {
	background-color: var(--color-primary);
	padding: 1.4rem 3rem;
	color: #FCFCFF;
	font-weight: 700;
	font-size: 1.6rem;
	border: none;
	box-shadow: 0px 0px 8px -3px #96BB7C;
	border-radius: 8px;
	cursor: pointer;
}

.btn-primary-outline {
	padding: 1.4rem 3rem;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	font-weight: 700;
	border-radius: 8px;
	background-color: none;

	&:hover {
		background-color: var(--color-primary);
		color: #fff;
		cursor: pointer;
	}
}

.text-primary {
	color: var(--color-primary);
}

.heading-primary {
	font-size: 4.5rem;
	font-weight: 700;
}

.section-heading {
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: .16rem;
}

.marker {
	background-image: url('/assets/images/pin.png');
	background-size: cover;
	width: 32px;
	height: 40px;
	cursor: pointer;
}

.flex {
	display: flex;
}

.justify-end {
	justify-content: flex-end;
}

.mt-3 {
	margin-top: 1rem;
}

.mt-5 {
	margin-top: 3rem;
}

.mb-3 {
	margin-bottom: 1rem;
}

.mb-4 {
	margin-bottom: 2rem;
}

.mr-3 {
	margin-right: 1rem;
}

.mr-4 {
	margin-right: 2rem;
}

.mr-5 {
	margin-right: 3rem;
}